body {
  background-image: url('iceCream.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 150px; /* make image smaller */
      transition: transform 0.6s ease;
    }

    img:hover {
      transform: rotate(360deg);
      cursor: pointer;
    }